@page
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model FrontendRazorPages.Pages.CreateModel

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Create new Vehicle</title>
</head>
<body>
    
</body>
</html>
